---
const altText =
  'A vintage-style portrait of Santa Claus seated confidently in his red suit, presented like a cheerful old holiday poster.';
---

<figure class="portrait-frame">
  <div class="portrait-frame__mount">
    <img
      class="portrait-frame__image"
      src="/images/santa.png"
      alt={altText}
      width="960"
      height="1200"
      loading="eager"
      decoding="async"
      fetchpriority="high"
    />
  </div>
</figure>
