---
const altText =
  'Santa Claus seated in his red suit, ready to deliver a ruling.';
---

<figure class="portrait-frame">
  <div class="portrait-frame__mount">
    <img
      class="portrait-frame__image"
      src="/images/santa-solo.png"
      alt={altText}
      width="1024"
      height="1024"
      loading="eager"
      decoding="async"
      fetchpriority="high"
    />
  </div>
</figure>
