<section class="speech-panel" aria-label="Santa's opening greeting">
  <div class="speech-bubble">
    <p class="speech-bubble__label">Santa says</p>
    <blockquote id="santa-opening-line">
      <p>HELLO THERE! WHAT WOULD YOU LIKE SANTA TO COMMAND?</p>
    </blockquote>
  </div>
</section>
