---
import { SITE_TAGLINE, SITE_TITLE } from '@/config/site';
---

<header class="site-header">
  <div class="site-header__inner">
    <p class="site-header__eyebrow">North Pole Decree Office</p>
    <div>
      <h1>{SITE_TITLE}</h1>
      <p>{SITE_TAGLINE}</p>
    </div>
  </div>
</header>
